<h1 class="page-header">班级信息</h1>
{% if course_list %}
{#    <h2>我的课</h2>#}
    <table>
        <tbody>
            <tr>
                <th>课程</th>
                <th>平均成绩</th>
                <th>操作</th>
            </tr>
            {% for course in course_list %}
            <tr>
                <td>{{ course.name }}</td>
                <td>{{ course.avg_score }}</td>
                <td><a href="javascript:void(0);" onclick="course_score({{ course.id }})">详情</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <h2>您好像还没有开课</h2>
{% endif %}
<script>
    function course_score(course_id) {
        $.get({
            url: "/webapp/staff/score/?course_id="+course_id,
            dataType: "html",
            success: function (response) {
                $('div.main').html(response);
            }
        });
    }
</script>