<div>
    <table>
        <tr>
            <td>类目</td>
            <td>{{book.catalog}}</td>
        </tr>
        <tr>
            <td>书名</td>
            <td>{{book.name}}</td>
        </tr>
        <tr>
            <td>版次</td>
            <td>{{book.version}}</td>
        </tr>
        <tr>
            <td>作者</td>
            <td>{{authors}}</td>
        </tr>
        <tr>
            <td>出版社</td>
            <td>{{book.publisher}}</td>
        </tr>
        <tr>
            <td>封面</td>
            <td><img src="{{book.cover}}"></td>
        </tr>
        <tr>
            <td>说明</td>
            <td>{{book.description}}</td>
        </tr>
    </table>
</div>